/* Filters and information */ 


.filter_section {
  display: flex;
  flex-direction: row; 
  margin: 0.5em 0;
}

.filter {
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  width: 90%; /* ! Règle le problème de Animaux autorisés sur 2 lignes ! */
  padding-left: 4%;
}

.filter_title_margin {
  margin-right: 4%;
  padding-left: 3%; 
}

.filter_text_icons {
  display: flex;
  border: 2px solid #f2F2F2;
  border-radius: 25px;
  height: 50px;
  margin-right: 3%; /* Pb au-delà de 4% */
  padding-right: 2.2%;
  padding-left: 0%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.filter_text { 
  margin-left: 15px; /* pixels */
  height: 50px;
  border-radius: 0 25 px 25px 0;
}

.filter_icons { /* Cf. .flex_center Firefox mobile, icones pas centrées. Dans l'inspecteur, si j'enlève l'inline-block, ça se recentre */
  margin-left: -15px;  /* pixels */
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #0065FC; 
  background-color: #DEEBFF;  
}

.margin_information {
  margin-top: 2em;
  margin-bottom: 2em;
}

.information_section {
  display: flex;
  align-items: center;
}

.information_icon {
  margin-right: 1%;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  color: #0065FC; 
  border: 2px solid #f2F2F2; 
  background-color:white;  
}


/* Hover */

.filter_text_icons:hover { /* ? Pourquoi un hover seulement sur le texte ? */
  color: #0065FC; 
}

.filter_icons:hover {
  color: white;
  background-color: #DEEBFF; 
}


/* Media queries */

@media screen and (max-width: 992px) {

  .filter {
    display: flex;
    flex-wrap: wrap;
  }

  .filter_section {
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
  }

}

@media screen and (max-width: 768px) {

  .filter {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3% 0 1.5%;
    padding-left: 5%;   
}

  .filter_icons {
  }

  .filter_title_margin {
    padding-left: 5%;
  }

  .filter_section {
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
  }  

  .filter_text_icons {
    margin-right: 5%;
    padding-right: 5%; 
  }

  .information_icon {
    margin-right: 3%
  }

  .information_section {
    padding-left: 2.5%; 
  }

}