/* Filters and information */ 

.margin_filter {
  margin-top: 2em;
  margin-bottom: 2em;
}

.filter_section {
  display: flex;
  flex-direction: row;
}

.filter {
  display: flex; 
  align-items: center;
}

.margin_filter_title {
  margin-right: 4%;
}

.filter_text_icons {
  display: flex;
  border: 2px solid #f2F2F2;
  border-radius: 25px;
  height: 50px;
  margin-right: 4%;
  padding-right: 3%;
  padding-left: 1%;
}

.filter_text { 
  height: 50px;
  border-radius: 0 25 px 25px 0;
}

.filter_icons { /* Cf. .flex_center Firefox mobile, icones pas centrées. Dans l'inspecteur, si j'enlève l'inline-block, ça se recentre */
  margin-left: -33%;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #0065FC; 
  background-color: #DEEBFF;  
}

.margin_information {
  margin-top: 2em;
  margin-bottom: 2em;
}

.information_section {
  display: flex;
  align-items: center;
}

.information_icon {
  margin-right: 1%;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  color: #0065FC; 
  border: 2px solid #f2F2F2; 
  background-color:white;  
}


/* Media queries */

@media screen and (max-width: 992px) {

  .filter {
    display: flex;
    flex-wrap: wrap;
  }

  .filter_section {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 768px) {

  .filter {
    display: flex;
    flex-wrap: wrap;
  }

  .filter_section {
    display: flex;
    flex-direction: column;
  }  
}