/* Footer */


footer {
    display: flex;   
    flex-wrap: wrap; 
    bottom: 0;
    width: 100%;
    margin-top: 4%; 
    padding-top: 2%; 
    padding-bottom: 4%;
    background-color: #F2F2F2;
}

footer div {
    margin-left: 2.5%;
    margin-right: 20%;
}

footer div ul li h4 {
    font-size: 1em; 
     
}

footer div ul li p {
    font-size: 1em; 
    color: grey; 
}

/* Media queries */

@media screen and (max-width: 992px) {
    
    main {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        padding-bottom: 500px;
    }
}

@media screen and (max-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        padding-bottom: 0px;
    }

    body {
        position: relative;
    }

    footer {
        position: relative;
        bottom: 0;
        padding: 5% 0 5% 5%; 
        background-color: #F2F2F2; 
    }
}