/* Header */


header {
}

/* Navigation */

a {
  text-decoration: none;
  color: black;
}

.size_nav {
  height: 120px; 
}

#header_links {
  margin-top: 0px;
}

.size_links {
  width: 30%; 
}

.size_link {
  width: 150px; 
  height: 79px; /* 99 */
}

.border_link { /* Si je le veux de manière permanente */
  border-top: 2px solid white;
}

.margin_logo {
  margin-bottom: 10px;
  margin-left: 40px; 
}


/* Hover */ 

.header_text a:hover {
  color: #0065FC;
}

.border_link:hover {
  color: #0065FC;
  border: 2px solid #0065FC;
  border-right: none;
  border-bottom: none;
  border-left: none;
}


/* Media queries */

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) { 
  
  header nav div {
    display: flex;
    flex-direction: column;
  }

  .border_link:hover {
    border-bottom: 3px solid #0065FC;
    border-left: none;
    border-top: none;
    border-right: none;
  }

  .size_links {
    width: 100%; 
    margin-bottom: 50px;
  }

  .size_link {
    width: 50%;
    height: 50px;
  }

  #header_links {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
  }
  /* ........... */ 
}
