/* ---- Header ---- */

nav { 
  display: flex; 
  justify-content: space-between;
  text-align: center;
}

nav img { /* ! Firefox mobile : logo se déforme */
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}

nav ul { 
  display: flex; 
  list-style: none;
}

nav li {
  margin: 30px 30px 0 20px;
}

/* Navigation */ 

a /* Default links (non hovered) */
{
   text-decoration: none;
   color: black;
}

a:hover /* Hovered links => overline */
{
   text-decoration: none;
   color: #0065FC;
   border: 2px solid #0065FC;
   border-right: none;
   border-left: none;
   border-bottom: none ;
   padding-top: 43px;
}

/* Media queries */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) { 
  
  /* Header @media */
  header nav { /* ? Pourquoi le logo se déformait ? */
    display: flex;
    flex-direction: column; /* ? li centrées plus à droite ça va ? */
    align-items: center;
  }

  header nav ul {
    display: flex;
  }

  header nav ul li {
    justify-content: space-between;
  }

   /* Navigation */
   a:hover /* Hovered links => underline */
   {
      text-decoration: none;
      color: #0065FC;
      border: 2px solid #0065FC;
      border-right: none;
      border-left: none;
      border-top: none ;
      padding-bottom: 13px;
   }