/* Search form */

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em; 
  margin-bottom: 2em;
}

.icon_map {
  padding: 11px 13px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px; 
}
form div input {
  height: 40px;
  padding-left: 10px;
}

#button_desktop { /* Changer de nom pour .search_button */
  border-radius: 0 10px 10px 0; 
  background-color: #0065FC;
  border: solid #0065FC;
  color: white;
}

#recherche { /* Changer de nom pour #search_field */
  border: solid #f2f2f2 2px;
}

#search_mobile { /* Changer de nom pour #search_field_mobile */
  display: none;
}

/* Media queries */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) { /* Mobile */
  
  #button_desktop {
    display: none; 
  }

  #search_mobile {
    display: inline-block;
    margin-right: 30%; /* Ne fonctionne pas */
  }
  
  button { /* ! Firefox mobile : le bouton va à la ligne ! J'ai enlevé la position absolute */  /* Changer de nom */
    height: 40px;
    width: 40px;
    border-radius: 10px; 
    background-color: #0065FC;
    border: solid #0065FC;
    color: white;

  }

  form p {
    align-items: center; /* (redoudant) */
    display: flex;
    flex-direction: flex-start;
  }

