/* Sections_12 */

.sections_12 {
    display: flex; 
    width: 100%;
}

.section_1 {
    background-color: #f2F2F2; 
}

.cards_s1 {
    width: 20%;
    display: flex; 
    flex-direction: column;
    border: red solid;
    background-color:white;
    border-radius: 25px;

}




.img_card_s1 {
    border: green solid;
    border-radius: 25px; 
}