/* Section_3 */

.section_3_activites {
    display: flex;
    flex-direction: column;
    margin-top: 4%; 
    border: solid yellowgreen; 
}

.title_s3 {
    margin-left: 0;
    margin-bottom: 0;
}

.all_cards_s3 { /* Bloc avec les 4 colonnes */ 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    height: 450px; /* Seule hauteur en px */ 
    border: solid black; 
}

.column_card_x1 {
    width: 23%; /* 21% */
    height: 100%;
    border-radius: 25px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 8px 2px lightgray;
    border: solid red;
    
    
}

.cards_s3 { /* cube_activites */
    box-shadow: 1px 1px 8px 2px lightgray;
    border-radius: 25px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: black;
}

.img_cards_x1 {
    height: 100%;
}

.img_cards_x1 img {
    height: 100%; 
    object-fit: cover;
    border-radius: 25px 25px 0 0; 
} 

.column_cards_x2 { /* Problème */ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%; 
    height: 100%;
    border-radius: 25px; 
    border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_cards_x2_04 {
    height: 40%;
    border: solid blueviolet;
}

.img_cards_x2_04 img { /* Image hauteur 40% */
    height: 100%;
    max-width: 100%;
    border-radius: 25px 25px 0 0; 
    object-fit: cover;
    border: solid yellowgreen;
    
}

.img_cards_x2_06 {
    height: 60%; 
    border: solid pink;
    object-fit: cover;
}

.img_cards_x2_06 img { /* Image hauteur 60% */
    height: 100%; 
    width: 100%;
    border-radius: 25px 25px 0 0; 
    object-fit: cover;
    border: solid yellowgreen;
}

.text_cards_s3 {
    margin-left: 5%;
    padding-top: 4%;    
    margin-bottom: 5%; 
    border: solid greenyellow;
}

.img_1 {
}
.img_2 {
    height: 60%;
    object-fit:scale-down;  
}
.img_3 {
    height: 40%;
}
.img_4 {

}
.img_5 {
    height: 40%;
} 
.img_6 {
    height: 60%; 
}






















/* Hover */

.text_cards_s3:hover { 
    color:  #0065FC;
  }


/* Media queries */

@media screen and (max-width: 992px) {
   
}


@media screen and (max-width: 768px) {

    .all_cards_s3 {
        flex-direction: column;
        justify-content: space-between ;
        
    }
    
    .section_3_activites {
        width: 90%;
        margin-left: 5%;
    }

    .column_card_x1 {
        width: 100%;
    }

    .column_cards_x2 {
        width: 100%; 
    }

    .cards_s3 {
        width: 100%;
        margin-bottom: 5%;
    }

    .img_cards_x1 img {
        height: 150px; 
    }