/* Section_3 */

.section_3_activites {
    display: flex;
    flex-direction: column;
    border: solid blue; 
    margin-top: 3%;
}

.title_s3 {
    margin-left: 2.5%;
    margin-bottom: ; /* -4% */
}

.all_cards_s3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 100%;
    height: 340px; /* 450px ça allait bien */
    border: solid yellow;
}

.column_card_x1 {
    width: 21%;
    height: 340px; /* ? essais ? */ 
    border-radius: 25px; 
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards_s3 {
    box-shadow: 1px 1px 8px 2px lightgray;
    border-radius: 25px; 
}

.img_cards_s3 img {
    height: 300px; /* 320px mais peut être réduite */
    object-fit: cover;
    border-radius: 25px 25px 0 0; 
    border: solid pink;
} 

.column_cards_x2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* space-evenly */ 
    width: 21%;
    object-fit: cover;
    height: 340px;
    border: solid red;
}

.img_cards_x2_04 {
    border: solid black;
    margin-top: ; /* Pas de margin */
}

.img_cards_x2_04 img { /* Image hauteur 40% */
    height: 88px; /* 88px */ 
    width: 100%;
    object-fit: cover;
    
}

.img_cards_x2_06 {
    border: solid grey;
    margin-top: ; /* Pas de margin */
}

.img_cards_x2_06 img { /* Image hauteur 60% */
    height: 132px; /* 132px */ 
    width: 100%;
    object-fit: cover;
}

.body_text_cards_s3 h4 {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}


/* Hover */

.body_text_cards_s3:hover { 
    color:  #0065FC;
  }


/* Media queries */

@media screen and (max-width: 992px) {
   
}


@media screen and (max-width: 768px) {

    .all_cards_s3 {
        flex-direction: column;
        justify-content: space-between ;
    }
    
    .section_3_activites {
        width: 100%;
    }

    .column_card_x1 {
        width: 100%;
    }

    .column_cards_x2 {
        width: 100%; 
    }

    .cards_s3 {
        width: 100%;
        margin-bottom: 5%;
    }

    .img_cards_s3 img {
        height: 150px; 
    }