/* Sections_12 */

.sections_12 {
    display: flex; /* flex-wrap: wrap pour tablet */
    justify-content: space-between;
    width: 100%;
}


.cards_s12 { /* Propriétés communes aux cards sections 1 et 2 */
    margin-left: 2%; 
    background-color:white;
    border-radius: 25px;
}

figcaption h4 { /* h4 Auberge la Cannebière */
    margin-top: 1%;
    margin-bottom: 1%; 
}

.blue_stars {
    color: #0065FC;
}

.grey_stars {
    color: #DEEBFF;
}


/* Section 1 Hébergements */

.section_1_hebergements {
    width: 62.5%;
    background-color: #f2F2F2; 
    border-radius: 25px; 
    margin-left: 0%; /* Pb ? */ 
}

.title_s1 {
    margin-left: 2%;
    margin-top: 3%;
}

.all_cards_s1 { /* apply to the parent of all cards of the section */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin-bottom: 2%;
}

.cards_s1 { /* Apply to each individual cards */ 
    width: 30%;
    display: flex; 
    flex-direction: column; /* ? */
    padding-bottom: 1%;
    margin-bottom: 5%; 
    box-shadow: 1px 1px 8px 2px lightgray;
}

.text_cards_s1 {
    margin-left: 5%;
}

.text_cards_s1 figcaption h4 {
    margin-top: 4%; 
}

.text_cards_s1 p { /* Nuit à partir de 25 € */
    margin-top: 4%;
    margin-bottom: 4%; 
}

.img_cards_s1 img { 
    width: 100%;
    height: 110px;
    border-radius: 25px 25px 0 0; 
    align-items: center; 
    object-fit: cover;
}

.stars_s1 {
    display: flex;
    margin: 0 0 1% 5%;
}

.afficher_plus {
    margin: -4% 0 4% 3%;
}


/* Section 2 Populaires */

.section_2_populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #f2F2F2;
    border-radius: 25px; 
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2.5%;
}

.title_icon_s2 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}

.all_cards_s2 { /* apply to the parent of all cards of the section */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.cards_s2 { /* Apply to each individual cards */
    width: 100%;
    height: 140px;
    display: flex; 
    margin-bottom: 10%;
    box-shadow: 1px 1px 8px 2px lightgray;
    
}

.cards_s2_12 { /* Cartes 1 et 2 : j'avais fait des bottoms spécifiques */
}

.body_cards_s2 {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%; 
}

.img_cards_s2 { /* Comment "fixer" l'image  ? */ 
    border-radius: 25px 0 0 25px; 
    width: 65%;
    height: 100%;
}

.img_cards_s2 img {
    height: 100%; /* 100% */
    object-fit: cover;
    border-radius: 25px 0 0 25px; 
}


.text_cards_s2 h4{
    margin-top: 6%;
    padding-right: 2%; 
    padding-left: 2%;
}

.text_cards_s2 p {
    margin-top: 5%; 
    padding-right: 2%; 
    padding-left: 2%;
}

.stars_s2 {
    display: flex;
    margin-left: 0%; 
    margin-bottom: 5%;
    padding-left: 2%;
}


/* Hover */

.text_cards_s1:hover { /* ? Pourquoi un hover seulement sur le texte ? */
    color:  #0065FC;
  }

.text_cards_s2:hover { /* ? Pourquoi un hover seulement sur le texte ? */
    color:  #0065FC;
  }


/* Media queries */

@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 768px) {

    .container {
        margin: 0;
    }

    #bloc_page {
        margin: 0;
    }

    main {
        margin: 0;
    }

    .sections_12 {
        flex-direction: column-reverse;
        justify-content: space-between; /* Ne fonctionne pas, => margin-bottom sur section_2_populaires */
        margin: 0;
    }
    

    /* Section 1 Hébergements */
    .section_1_hebergements {
        border-radius: 0;
        background-color: white;
        padding: 0 2.5%;  
        width: 90%;
    }

    .section_1_hebergements {
        flex-direction: column;
        width: 100%;
    }

    .all_cards_s1 {
    }

    .cards_s1 { /* A centrer */
        flex-direction: column;
        width: 96%; /* Pb : il y a plus de marge que s2 */
    }

    .img_cards_s1 img {
        width: 100%; /* ? Est-ce bien utile ? Sinon, un height en px ? */ 
        height: 150px;
        object-fit: cover;
    }

    /* Section 2 Populaires */
    .section_2_populaires {
        flex-direction: column;
        width: 100%;
        
        padding: 0 2.5%;  
        border-radius: 0;
    }
    
    .title_icon_s2 {
        padding: 0 2.5%;
    }

    .cards_s2 {
        width: 96%;
    }

    .all_cards_s2 {
        width: 100%;
        margin: 0; 
        border-radius: none;
    }

    .img_cards_s2 img {
        width: 40%; /* Ne fonctionne pas */
        
    }

    
    
}