/* Sections_12 */

.sections_12 {
    display: flex; /* flex-wrap: wrap pour la tablet */
    width: 100%;
    border: pink solid 5px; 
}


.cards_s12 { /* Propriétés communes aux cards sections 1 et 2 */
    margin-left: 2%; 
    background-color:white;
    border-radius: 25px;
}

figcaption h4 { /* h4 Auberge la Cannebière */
    margin-top: 1%;
    margin-bottom: 1%; 

}

.blue_stars {
    color: #0065FC;
}

.grey_stars {
    color: #DEEBFF;
}


/* Section 1 */

.section_1 {
    width: 65%;
    background-color: #f2F2F2; 
    border: solid yellow;
    border-radius: 25px; 
}

.title_s1 {
    margin-left: 2%;
    margin-top: 3%;
}

.cards_s1 {
    width: 30%;
    display: flex; 
    flex-direction: column; /* ? */
    border: blue solid;
    padding-bottom: 1%;
}

.body_cards_s1 {
    margin-left: 5%;
}

.body_cards_s1 p { /* Nuit à partir de 25 € */
    margin-top: 2%;
    margin-bottom: 2%; 
}

.img_cards_s1 img { 
    border: yellowgreen solid;
    border-radius: 25px 25px 0 0; 
    align-items: center; 
    object-fit: cover; /* ?? */ 
    
}

.stars_s1 {
    display: flex;
    margin-left: 5%; 
}


/* Section 2 */

.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #f2F2F2;
    border: solid black;
    border-radius: 25px; 
    padding-left: 2%;
    padding-right: 2%;
}

.title_icon_s2 {
    display: flex;
    justify-content: space-between; /* ? Pourquoi ça ne fonctionne pas ? */
    align-items:center;
    width: 100%;
}

.all_cards_s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.cards_s2 {
    width: 100%;
    display: flex; 
    border: purple solid;
}

.cards_s2_12 { /* Cartes 1 et 2 */
    margin-bottom: 5%;
}

.body_cards_s2 {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%; 
}

.img_cards_s2 { /* Comment "fixer" l'image  ? */ 
    border: yellowgreen solid;
    border-radius: 25px 0 0 25px; 
}

.img_cards_s2 img {
    width: 75%; /* ? Est-ce bien utile ? Sinon, un height en px ? */ 
    height: 150px;
    object-fit: cover;
    border-radius: 25px 0 0 25px; 
}


.text_cards_s2 h4{
    margin-top: 6%; 
}

.text_cards_s2 p {
    margin-top: 5%; 
}

.stars_s2 {
    display: flex;
    margin-left: 0%; 
    margin-bottom: 5%;
}


/* Hover */

.text_cards_s1:hover { /* ? Pourquoi un hover seulement sur le texte ? */
    color:  #0065FC;
  }

.text_cards_s2:hover { /* ? Pourquoi un hover seulement sur le texte ? */
    color:  #0065FC;
  }


/* Media queries */

@media screen and (max-width: 992px) {
    .sections_12 {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {

