/* box-sizing */  
/* Personalized polices */
/* Flexbox */
/* Class */ 
/* Main elements */ 
/* Media queries */



/* box-sizing */
* {
    box-sizing: border-box;
   /* box-sizing applied to all elements */
}


/* Personalized polices */

 @font-face { /* .................................. */
  font-family: 'raleway';
  font-style: normal;
}


/* Flexbox */

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Class */ 

.decoration_none {
  text-decoration: none;
}

.color_blue {
  color: #0065FC; 
}

.color_blue_light {
  color: #DEEBFF; 
}

/* Main elements */

.margin_between_sections {
  margin-top: 2em;
  margin-bottom: 2em;
}


main {
  margin-left: 25px;
  margin-right: 25px;
}

#bloc_page {
  margin-left: 0;
}

body {
  font-family: raleway, sans-serif;
}

li {
  font-size: 0.8em;
}

p {
  font-size:0.8em;
}

h1 {
  font-weight: 600;/* ? Impossible de faire plus gras ? C'est normalize.css ? */
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}


/* Media queries */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) { 
  main {
    margin-left: 20px;
    margin-right: 20px;
}