/* Page main elements */
  /* box-sizing */  
  /* Navigation */ 
  /* Media queries */



/* box-sizing */
* {
    box-sizing: border-box;
   /* box-sizing applied to all elements */
   }


 /* Personalized polices */

 @font-face /* .................................. */
{
  font-family: 'raleway';
  font-style: normal;
}


/* Page main elements */

body {
  font-family: raleway, sans-serif;
}

li {
  font-size: 0.8em;
}

h1 {
  font-weight: 600;/* ? Impossible de faire plus gras ? C'est normalize.css ? */
}

p {
  font-size:0.8em;
}

#bloc_page {
  margin-left: 0;
}

main {
  margin-left: 25px;
  margin-right: 25px;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}


/* Media queries */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) { 
  main {
    margin-left: 20px;
    margin-right: 20px;
}