/* box-sizing */  
/* Personalized polices */
/* Flexbox */
/* Class */ 
/* Main elements */ 
/* Media queries */



/* box-sizing */
* {
  box-sizing: border-box;
 /* box-sizing applied to all elements */
}


/* Personalized polices */ 

@font-face { /* .................................. */
font-family: 'raleway';
font-style: normal;
}


/* Flexbox */

.flex_center {
display: flex;
align-items: center;
justify-content: center;
}

.flex_around {
display: flex;
justify-content: space-around;
align-items: center;
}

.flex_between {
display: flex;
justify-content: space-between;
align-items: center;
}


/* Class */ 

.margin_between_sections {
margin-top: 2.5%;
margin-bottom: 2.5%;
}

.decoration_none {
text-decoration: none;
}

.color_blue {
color: #0065FC; 
}

.color_blue_light {
color: #DEEBFF; 
}

.container {
margin: 0 3% 0 3%;
}


/* Main elements */


html {
margin: 0;
padding: 0; 
}


body {
margin: 0;
padding: 0;
}

#bloc_page {
}

main {
margin: 0;
}

body {
font-family: raleway, sans-serif;
}

ul {
padding-inline-start: 0px;
}

li {
font-size:small;
list-style-type:none; 
}

p {
font-size: small;
}

h1 {
font-size: large;
font-weight: 600;
}

h2 {
font-size:large;
}

h3 {
font-size: medium;
}

h4 {
font-size: small;
}


/* Media queries */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) { 
main {
  margin: 0;
}

h1 {
}

h2 {
  font-size: x-large;
}

h4 {
  font-size: medium;
}

li {
  font-size: medium;
}

p {
  font-size: medium;
}
}